<div>
  <h1>Peanuts</h1>
  <div class="col-xs-8">
    <p>
      Peanuts empowers event managers, producers, and artists, (that's you!), with a super simple ticket sales platform. Your guests can easily purchase tickets and have them delivered to their email. You can see your ticket buyers list and easily check them off at the door! Easy. Peasy. 
    </p>
    <p>
      This version of the platform will only allow you to "sell" tickets with a price of $0, so you can't charge for your tickets, yet. But we know that making money is important for artists, so keep a look out for updates. We'll be sure to let you know when we upgrade, but we want to make sure everyone's info is super safe first.
    </p>
    <h1>License</h1>
    <p>
      Peanuts is a completely opensource platform created by <a href="http://thomascountz.github.io" target="_blank">Thomas Countz</a>, and is furnished with an MIT License.
    </p>
    <p>
      Copyright (c) 2017 Thomas Countz
    </p>
    <p>  
      Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    </p>
    <p>  
      The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    </p>
    <p>  
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </p>
  </div>
  <div class="col-xs-4">
    <%= image_tag("girl.png", alt: "girl", class: "img-responsive") %>
  </div>
</div>