<div>
  <h1>Peanuts</h1>
  <div class="col-sm-8">
    <p>
      Peanuts empowers event managers, producers, and artists, (that's you!), with a super simple ticket sales platform. Your guests can easily purchase tickets and have them delivered to their email. You can see your ticket buyers list and easily check them off at the door! Easy. Peasy. 
    </p>
    <p>
      This version of the platform will only allow you to "sell" tickets with a price of $0, so you can't charge for your tickets, yet. But we know that making money is important for artists, so keep a look out for updates. We'll be sure to let you know when we upgrade, but we want to make sure everyone's info is super safe first.
    </p>
  </div>
  <div class="col-sm-4">
    <%= image_tag("girl.png", alt: "girl", class: "img-responsive") %>
      <div class="center">Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> and is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>