<div>
  <div class="col-xs-8">
    <h1>Peanuts is a testament to the New York artist hustle.</h1>
    <h2>Who We Are</h2>
    <p>
      We are sculptors, composers, playwrights and thespians. Born from a group of artists, Peanuts is open source ticket sales platform. Artists make the content and we sell the tickets. It sounds so straightforward, right? 
    </p>
    <h2>What We Want</h2>
    <p>
      We want artists to receive the best visibility with no extra fees or stress. We want a platform for easy browsing and no hassle ticket purchases. We want artists to put on a performance and people to enjoy it. We are constantly working to streamline our users experience and stay true to our mission. It is no fuss on your part and that’s what we intended.
    </p>
  </div>
  <div class="col-xs-4">
    <%= image_tag("girl.png", alt: "girl", class: "img-responsive") %>
  </div>
</div>