<div>
  <div class="col-xs-8">
    <h1>Coming Soon!</h1>
    <h2>You're seeing this page because we haven't built this feature yet.</h2>
    <p>
      Peanuts is an ongoing passion project to create streamline services for artists. We want to pack in all of the features that we can, but we need some time to rehearse before the lights, camera, action! So check back here soon, because before you know it, we'll have finished adding all the bells and whistles.
    </p>
  </div>
  <div class="col-xs-4">
    <%= image_tag("man.png", alt: "man", class: "img-responsive") %>
  </div>
</div>
