<div class="jumbotron">
  <h1>peanuts.</h1>
  <h2>
    A minimal event ticket sales app.
  </h2>
  <div class="btn-group">
    <%= link_to "sell tickets", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "buy tickets", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>
