<div class="jumbotron">
  <h1>peanuts.</h1>
  <h2>
    A minimal event ticket sales app.
  </h2>
  <div class="btn-group">
    <%= link_to "sell tickets", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "buy tickets", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta id risus a tristique. Praesent tempor sit amet tortor vitae gravida. Sed ac luctus magna, at laoreet lectus. Integer cursus sem eu tortor scelerisque eleifend. Cras eget lacus et mi pulvinar fringilla sit amet vitae tellus. Donec vel placerat justo. Sed tincidunt, justo in maximus lacinia, orci est condimentum nibh, sit amet consectetur dolor nisl ac ipsum. Maecenas iaculis, augue in elementum fermentum, odio justo volutpat ex, in volutpat nunc purus at mi. Proin rhoncus luctus risus in aliquet. Duis placerat vehicula pharetra. Donec vulputate laoreet purus eget vehicula. Suspendisse pretium faucibus nibh, sed vulputate lacus placerat quis. Pellentesque eu eleifend turpis. Fusce dapibus sollicitudin tortor vel cursus.
    </p>
    <p>
      Sed in nulla in mi dignissim congue non nec velit. Aenean erat erat, blandit euismod dictum sit amet, facilisis ut purus. Aenean eleifend, diam ut volutpat feugiat, risus lectus venenatis lectus, quis hendrerit magna purus non tellus. Duis maximus commodo justo, at dignissim felis condimentum at. Curabitur ut pellentesque nisi. Suspendisse placerat porttitor diam vitae volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at diam sit amet velit pellentesque varius. Duis dignissim hendrerit lacus vel tincidunt. Etiam sit amet orci id ipsum fermentum ultricies a vel nisi. Duis sed convallis velit, ac mattis turpis. Mauris laoreet, nibh sed gravida dignissim, ante ex volutpat est, a rhoncus urna justo nec erat. Donec ac rhoncus nulla, sed euismod lacus. Duis euismod laoreet dignissim.
    </p>
  </div>
</div>
