<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h1>peanuts.</h1>
      <h2>
        A minimal event ticket sales app.
      </h2>
      <div class="btn-group">
        <%= link_to "sell tickets", '#', class: "btn btn-lg btn-primary" %>
        <%= link_to "buy tickets", '#', class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag('boy.png', alt: 'boy', class: 'img-responsive') %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <p class="main-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta id risus a tristique. Praesent tempor sit amet tortor vitae gravida. Sed ac luctus magna, at laoreet lectus. Integer cursus sem eu tortor scelerisque eleifend. Cras eget lacus et mi pulvinar fringilla sit amet vitae tellus. Donec vel placerat justo. Sed tincidunt, justo in maximus lacinia, orci est condimentum nibh, sit amet consectetur dolor nisl ac ipsum. Maecenas iaculis, augue in elementum fermentum, odio justo volutpat ex, in volutpat nunc purus at mi. Proin rhoncus luctus risus in aliquet. Duis placerat vehicula pharetra. Donec vulputate laoreet purus eget vehicula. Suspendisse pretium faucibus nibh, sed vulputate lacus placerat quis. Pellentesque eu eleifend turpis. Fusce dapibus sollicitudin tortor vel cursus.
    </p>
  </div>
</div>
