<div class="center jumbotron">
  <h1>peanuts.</h1>
  <h2>
    A minimal event ticket sales app.
  </h2>
  <%= link_to "sell tickets", '#', class: "btn btn-lg btn-primary home-btn" %>
  <%= link_to "buy tickets", '#', class: "btn btn-lg btn-primary home-btn" %>
</div>