<h1>Hello <%= @user.first_name %>!</h1>
<br />
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
  <h2>Welcome to your dashboard.</h2>
  <p>This is where the magic happens! See your events, track your sales, or just pull up your tickets and track your calendar. All in one place. We like to call this the peanut gallery, feel free to call it that too. To get started, <a href="#">set up an event</a> or <a href="#">purchase some tickets.</a></p>

  </div>
</div>
