<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>about</h1>
          Peanuts empowers event managers, producers, and artists, (that's you!), with a super simple ticket sales platform.
      </div>
      <div class="col-sm-2 center">
        <%= link_to "create an account", '#' %>
      </div>
      <div class="col-sm-2 center">
        <%= link_to "about", about_path %>
      </div>
      <div class="col-sm-2 center">
        <%= link_to "contributing", 'https://github.com/Thomascountz/peanuts', target: '_blank' %>
      </div>
      <div class="col-sm-2 center">
        <%= link_to 'thomas', 'http://thomascountz.github.io', target: '_blank' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        copy written with <3 by <a href="https://www.linkedin.com/in/morgan-thomas-5a7b9292/" title="Morgan Thomas">Morgan Thomas</a>
        </br>
        icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> and by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> and is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
</footer>