<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "peanuts", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home",   root_path %></li>
        <li><%= link_to "about",   about_path %></li>
        <li><%= link_to "log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>